input {
  width: 400px;
  height: 56px;
}
width: 400px;
height: 56px;
top: 379px;
left: 296px;
padding: 10px 18px 6px 19px;
gap: 0px;
border-radius: 5px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
